#--------------------------------------------------
fpga/*
!fpga/etc/
!fpga/hdl/
!fpga/xdc/
!fpga/rebuild/
#--------------------------------------------------

#--------------------------------------------------